* {
	box-sizing: border-box;
	background-clip: padding-box;
}

html {
	/*
	 * Force a y-scrollbar to always appear to avoid displacement when a page
	 * suddenly have to have a scrollbar, thus reducing the width of the page.
	 */
	overflow-y: scroll;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: #D5EDF7;
}

h1, h2, h3, h4 {
	padding: 0px;
	margin: 0px;
}

h4 {
	font-size: 1.1em;
}

/**
 * Layout positioning things
 */

.mf-row {
	display: flex;
	flex-direction: row;
	margin: -0.5em;
}

.mf-row > * {
	padding: 0.5em;
}

.mf-row.tight-margin {
	margin: -0.1em;
}

.mf-row.tight-margin > * {
	padding: 0.1em;
}

.mf-row.small-margin {
	margin: -0.2em;
}

.mf-row.small-margin > * {
	padding: 0.2em;
}

.mf-column {
	display: flex;
	flex-direction: column;
	margin: -0.5em;
}

.mf-column > * {
	padding: 0.5em;
}

.mf-column.tight-margin {
	margin: -0.1em;
}

.mf-column.tight-margin > * {
	padding: 0.1em;
}

.mf-column.small-margin {
	margin: -0.2em;
}

.mf-column.small-margin > * {
	padding: 0.2em;
}

.mf-wrap {
	flex-wrap: wrap;
}

.mf-space-between {
	justify-content: space-between;
}

.mf-center {
	justify-content: center;
}

.mf-align-center {
	align-items: center;
}

.grid-column {
	display: flex;
	flex-direction: column;
}

.grid-column  > *:not(:first-child) {
	margin-top: 2px;
}

.grid-row {
	display: flex;
	flex-direction: row;
}

.grid-row > *:not(:first-child) {
	margin-left: 2px;
}

.slot {
	background-image: url("../images/PNG/buttonSquare_brown_pressed.png");
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slot.blue {
	background-image: url("../images/PNG/buttonSquare_blue_pressed.png");
}

.item {
	background-image: url("../images/items.png");
	height: 32px;
	width: 32px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 14px;
}

.outline {
	text-shadow:
			-1px -1px black,
			0 -1px black,
			1px -1px black,
			-1px 0 black,
			1px 0 black,
			-1px 1px black,
			0 1px black,
			1px 1px black;
}

.item-quantity {
	color: white;
	user-select: none;
}

.item-quantity:hover {
	cursor: default;
}

.space-taker {
	flex-grow: 1;
	flex-basis: 0;
}

.center-content {
	justify-content: center;
	align-content: center;
}

.money {
    background-image: url("../images/items.png");
    background-position: -164px -1028px;
    height: 24px;
    width: 24px;
}

.question-mark {
	background-position: calc(-15 * 32px) calc(-83 * 32px);
}

.money-tag {
	display: flex;
	align-items: center;
}

.money-tag .money {
	margin-left: 6px;
}

/**
 * Tooltip styling
 */
#tooltip-container {
	z-index: 1000;
}

.tooltip {
    width: 260px;
}

.hidden {
	visibility: hidden;
}

#game-container {
	max-width: 1100px;
	min-height: 800px;
	margin: auto auto;
}

#money-container {
	font-size: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-block {
	width: 100%;
}

/**
 * Arrow buttons
 */
button.arrow {
	width: 28px;
	height: 20px;
	/* Removing the style applied by kenney.css to buttons */
	border: none;
	border-image: none;
	border-radius: 0;
	padding-bottom: 0;
	margin-top: 0;
	border-width: 0;
	background-color: transparent;
}

button.arrow:enabled:active {
	margin-top: 0;
	border-width: 0;
	border-image: none;
}

button.arrow-left {
	background-image: url("../images/PNG/arrowBrown_left.png");
}

button.arrow-right {
	background-image: url("../images/PNG/arrowBrown_right.png");
}

/**
 * Logo
 */
@keyframes logofloat {
	from {
		transform: translate(0px, -5px);
	}

	to {
		transform: translate(0px, 5px);
	}
}

.logo {
	animation: logofloat;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

/**
 * Starting pack
 */
.starting-pack {
	width: 250px;
	height: 300px;

	transition-duration: 0.15s;
	transition-timing-function: ease-in;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.starting-pack:hover {
	transform: translate(0px, -20px);
	cursor: pointer;
}

/**
 * Modal Component
 */
.modal-container {
	z-index: 500;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 499;

	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes modalslidein {
	from {
		transform: translate(0, -200px);
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	to {
		transform: translate(0, 0);
	}
}

.modal {
	animation: modalslidein;
	animation-duration: 0.8s;
}

/**
 * Worker Component
 */
.worker-container {
	box-sizing: border-box;
}

.worker-recipe-row {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.worker-ingredients-grid {
	width: 180px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.worker-arrow {
	background-image: url("../images/PNG/arrowBeige_right.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 22px;
}

@media only screen and (min-width: 48em) {
	 .col-inventory {
		 flex: 0 0 240px;
	 }
}

/**
 * Notification
 */
.notification-container {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 999;
}

.notification {
	width: 300px;
}

.notification-text {
	vertical-align: middle;
}

/**
 * Rewriting and adding some Flexboxgrid's rules to modify the margins
 */
.row {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.column {
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}

.column > * {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.elem {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tight-margin > .elem {
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.row.tight-margin {
	margin-left: -0.1em;
	margin-right: -0.1em;
}

.column.tight-margin {
	margin-top: -0.1rem;
	margin-bottom: -0.1rem;
}

.column.tight-margin > * {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.tight-margin .col-xs,
.tight-margin .col-xs-1,
.tight-margin .col-xs-2,
.tight-margin .col-xs-3,
.tight-margin .col-xs-4,
.tight-margin .col-xs-5,
.tight-margin .col-xs-6,
.tight-margin .col-xs-7,
.tight-margin .col-xs-8,
.tight-margin .col-xs-9,
.tight-margin .col-xs-10,
.tight-margin .col-xs-11,
.tight-margin .col-xs-12 {
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.no-wrap {
	flex-wrap: nowrap;
}