body {
	font-family: "Bitter";
	line-height: 1.2em;
	font-size: 15px;
}

.panel {
	border: 8px solid transparent;
	border-image: url("../images/PNG/panel_brown.png") 8 fill round;
	padding: 5px;

	color: rgb(210, 178, 144);
}

.panel.blue {
	border-image-source: url("../images/PNG/panel_blue.png");
	color: rgb(212, 216, 233);
}

.panel.beige {
	border-image-source: url("../images/PNG/panel_beige.png");
	color: rgb(87, 82, 70);
}

.panel.beige-light {
	border-image-source: url("../images/PNG/panel_beigeLight.png");

}

button {
	border-width: 6px 6px 10px 6px;
	border-style: solid;
	border-color: transparent;
	border-image: url("../images/PNG/buttonLong_brown.png") 6 6 10 6 fill repeat;
	color: inherit;
	outline: none;

	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 500;
	font-family: "Bitter";
	font-size: 0.9em;

	color: rgb(210, 178, 144);
	cursor: pointer;
}

button:enabled:active {
	margin-top: 4px;
	border-bottom-width: 6px;
	border-image-source: url("../images/PNG/buttonLong_brown_pressed.png");
	border-image-slice: 6 6 6 6 fill;
}

button::-moz-focus-inner {
	border: none;
}

button.blue {
	border-image-source: url("../images/PNG/buttonLong_blue.png");
	color: rgb(212, 216, 233);
}

button.blue:enabled:active {
	border-image-source: url("../images/PNG/buttonLong_blue_pressed.png");
}

button:disabled {
	cursor: default;
}

.inner {
	border: 6px solid transparent;
	border-image: url("../images/PNG/panelInset_beige.png") 6 fill round;
	padding: 10px;

	color: rgb(87, 82, 70);
}

.bar {
	display: flex;
	height: 20px;
}

.bar-left-back {
	background: url("../images/PNG/barBack_horizontalLeft.png") center left no-repeat;
	width: 10px;
}

.bar-left {
	background-image: url("../images/PNG/barBlue_horizontalLeft.png");
	width: 10px;
	height: 20px;
}

.bar-middle-back {
	background: url("../images/PNG/barBack_horizontalMid.png");
	flex-grow: 1;
}

.bar-middle {
	background-image: url("../images/PNG/barBlue_horizontalBlue.png");
	height: 20px;
}

.bar-right-back {
	background: url("../images/PNG/barBack_horizontalRight.png") center right no-repeat;
	width: 10px;
}

.bar-right {
	background-image: url("../images/PNG/barBlue_horizontalRight.png");
	width: 10px;
	height: 20px;
}

.bar.red .bar-left {
	background-image: url("../images/PNG/barRed_horizontalLeft.png");
}

.bar.red .bar-middle {
	background-image: url("../images/PNG/barRed_horizontalMid.png");
}

.bar.red .bar-right {
	background-image: url("../images/PNG/barRed_horizontalRight.png");
}

.mf-checkbox {
	display: none;
}

.mf-checkbox + label {
	background-image: url("../images/PNG/buttonRound_brown.png");
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
}

.mf-checkbox:checked + label {
	background-image: url("../images/PNG/buttonRound_brown_checked.png");
}
